nav ul{
    background-color: white;
    display: flex;
   list-style: none; 
   padding-left: 1000px;
   

}
nav ul li  {
    margin-left: 50px;

    
}
.navbar {
    display: flex;
    background-color: white;
    position: relative;
    border:solid 2px;

} 
.logo{
    margin-top: 5px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 20px;
    
    
}
.work{
    color: black;
}
a{
    text-decoration-line: none;
}


.row{
    position: relative;
    display: flex;
}
.column{
    position: absolute;
    display: flex;
    flex: 50%;
    margin-top: 150px;
    margin-left: 50px;
}

button{
    background-color: rgb(247, 103, 127);
    font-size: 30px;
    color:white;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 50px;
    
}
.column2{
    margin-left: 1000px;
    margin-top: 250px;
}
.main{
    color: red; 
}
.john{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    margin-left: 55px;
    margin-top: 10px;
}
.Doe{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
   border: none;
   border-radius: 10px;
   height: 50px;
    
}

